<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="grial" value="http://nuget.uxdivers.com/grial" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <grial>
      <add key="Username" value="taghvaei@live.com" />
      <add key="ClearTextPassword" value="Z11#s21h3ki8yJ" />
    </grial> 
  </packageSourceCredentials>
</configuration>
